/* I was not able get all CSS incorporated in order to make the website responsive as well 
as some other styling changes to make it look exactly like the HW example */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-aside {
    width: 20%;
    height: 700px;
    background-color: lightgrey;
    float: left;
}

.container-main {
    width: 65%;
    height: 300px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 10px;
    float: left;
}

.container-footer {
    width: 65%;
    height: 300px;
    margin-top: 10px;
    margin-left: 12px;
    float: left;
}

.city-input {
    margin-left: 5px;
    height: 38;
}

.search-city {
    margin-left: 5px;
}

.city-data {
    margin-left: 5px;
}

.text-black {
    color: white;
    margin-top: 20px;
}

.title {
    background: black;
}

.bodyWidth {
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
}

.uv-index {
    margin-left: 5px;

}

.index-color {
    background: red;
    color: white;
    padding: 5px;
}

.city-click {
    background: white;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    color: gray
}

.newCity {
    margin-top: 20px;
}